.footer{
  background:#0f172a;
  color:white;
}

.footer-container{
  max-width:1200px;
  margin:auto;

  padding:80px 8%;

  display:grid;
  grid-template-columns:2fr 1fr 1fr;
  gap:60px;
}

.footer-brand p{
  color:#94a3b8;
  line-height:1.8;
  margin-top:20px;
}

.footer-logo{
  max-width:180px;
  width:100%;
  height:auto;
  object-fit:contain;
}

.footer h4{
  margin-bottom:20px;
  font-size:1.1rem;
}

.footer a{
  display:block;
  color:#94a3b8;
  text-decoration:none;
  margin-bottom:14px;
  transition:.3s;
}

.footer a:hover{
  color:#ffffff;
  transform:translateX(4px);
}

.copyright{
  text-align:center;
  padding:25px;
  border-top:1px solid rgba(255,255,255,.1);
  color:#94a3b8;
}
/* SOCIAL ICONS */

.social-icons{
  display:flex;
  gap:14px;
  margin-top:25px;
}

.social-icons a{
  width:42px;
  height:42px;

  display:flex;
  align-items:center;
  justify-content:center;

  border-radius:50%;

  background:rgba(255,255,255,.08);
  color:#ffffff;

  font-size:1rem;

  transition:.3s ease;
}

.social-icons a:hover{
  transform:translateY(-5px);
  background:#2563eb;
  color:#fff;
  box-shadow:0 10px 25px rgba(37,99,235,.35);
}

/* MOBILE */

@media(max-width:768px){

  .social-icons{
    justify-content:center;
  }

}
/* Mobile */

@media(max-width:768px){

  .footer-container{
    grid-template-columns:1fr;
    text-align:center;
    gap:40px;
  }

  .footer-logo{
    margin:auto;
  }

  .footer a:hover{
    transform:none;
  }
}